@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFF;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p,
a,
button {
  font-family: Inter;
  font-style: normal;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
  margin-bottom: 84px;
}

.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  width: 577px;
  display: flex;
  justify-content: space-between;
}

.navigation a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.navigation a.navigation__home {
  color: #F25822;
  font-weight: 600;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.mainContent__leftSide {
  max-width: 556px;
}

.mainContent__leftSide h1 {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.mainContent__leftSide p {
  color: #888;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 32px;
}

.mainContent__leftSide-btnList {
  display: flex;
  gap: 48px;
  align-items: center;
}

.mainContent__leftSide-btnList button{
  padding: 16px 10px;
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.mainContent__leftSide-btnList button.btnStartNow{
  border-radius: 56px;
  background: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
  width: 140px;
}

.mainContent__leftSide-btnList button.btnWatchVideo {
  color: #AAA;
  background: none;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cardTopList {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 61px;
}

.cardTop {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 25px;
}

.cardTop h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.cardTop p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.cardTop button {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%; /* 21px */
  border: none;
  background: none;
  cursor: pointer;
}
.icon1 {
  padding-left: 34px;
}

.icon2 {
  background: #FFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  padding-left: 34px;
  padding-right: 34px;
}

.icon3 {
  padding-right: 34px;
}

.mainInformation {
  background: #FAFAFA;
  padding: 100px;
}

.information {
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.information h1 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 24px;
}

.information p {
  color: #888;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-bottom: 48px;
  width: 740px;
}

.cardBottomList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
  gap: 20px;
  background: #FFF;
}

.cardBottom {
  padding: 0 34px 34px 34px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.cardBottom h2 {
  margin-top: 32px;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.cardBottom p {
  margin-top: 16px;
  color: #666;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.cardBottom button {
  margin-top: 24px;
  padding: 16px 32px;
  border-radius: 56px;
  background: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.card2 {
  background: #FFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}