@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFF;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
p,
a,
button {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background: #222;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logos {
  margin-bottom: 19px;
  display: flex;
  align-items: flex-end;
  gap: 41px;
}

.buttonList {
  margin-top: 26px;
  margin-bottom: 20px;
  display: flex;
  gap: 33px;
}

.btn {
  border: none;
  background: none;
}

main {
  background: #F1E4E6;
}

.maininfo {
  display: flex;
  gap: 63.42px;
}

