@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFF;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p,
a,
button {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background: #222;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logos {
  margin-bottom: 19px;
  display: flex;
  align-items: flex-end;
  gap: 41px;
}

.buttonList {
  margin-top: 26px;
  margin-bottom: 20px;
  display: flex;
  gap: 33px;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

main {
  background: #F1E4E6;
}

.bannerinfo {
  background: #F1E4E6;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  gap: 63.42px;
  margin-bottom: 65px;
}

.bannerText {
  border-left: 12px solid #F16D7F;
  height: 92px;
  margin-top: 290px;
  padding-left: 16px;
}

.bannerText h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}

.bannerText h2 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.offer {
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  gap: 30px;
  margin-bottom: 96px;
}

.card1 {
  width: 360px;
  height: 260px;
  background-image: url(./img/forwomen.png);
}

.card2 {
  width: 360px;
  height: 260px;
  background-image: url(./img/formen.png);
}

.card3 {
  width: 360px;
  height: 260px;
  background-image: url(./img/forkids.png);
}

.card4 {
  width: 1140px;
  height: 180px;
  background-image: url(./img/accesories.png);
}

.shadow {
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.70);
}

.cardBig {
  grid-column: 1 / 4;
}

.price {
  padding-top: 105px;
  padding-bottom: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priceBig {
  padding-top: 65px;
  padding-bottom: 65px;
}

.price h1 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.price h2 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.information {
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.information h1 {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.information p {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}

.product h1 {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.product p {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

.product h2 {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.prodInfo {
  background: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.finishbtn {
  display: flex;
  justify-content: center;
}

.btnAll {
  padding: 15px 39px 14px 39px;
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #FF6A6A;
  background: #FFF;
  margin-bottom: 60px;
  cursor: pointer;
}

@media(min-width: 768px) and (max-width: 1140px) {
  .container {
    max-width: 735px;
  }

  .logos {
    margin-bottom: 18px;
  }

  .banner768 {
    max-width: 386px;
  }

  .buttonList {
    margin-top: 27px;
    margin-bottom: 18px;
    gap: 25px;
  }

  .bannerinfo {
    gap: 39px;
  }

  .bannerText {
    margin-top: 138px;
  }

  .bannerText h1 {
    font-size: 44px;
  }

  .bannerText h2 {
    font-size: 24px;
  }

  .offer {
    gap: 20px;
    margin-bottom: 110px;
  }

  .card1 {
    width: 231.973px;
    height: 167.617px;
  }

  .card2 {
    width: 231.973px;
    height: 167.617px;
  }

  .card3 {
    width: 232.392px;
    height: 167px;
  }

  .card4 {
    width: 734.581px;
    height: 116.043px;
  }

  .price {
    padding-top: 59px;
    padding-bottom: 59px;
  }

  .priceBig {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .information {
    margin-bottom: 73px;
    gap: 3.3px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 32.48px;
  }

  .prodInfo {
    padding: 24.35px 28.8px 20px 16.46px;
    gap: 12.65px;
  }

  .product p {
    margin-bottom: 5.35px;
  }

  .btnAll {
    margin-bottom: 70.52px;
  }
}